html {
  background-color: #16151a;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #2c2b31;
}
.web-title {
  margin-left: 2%;
}
.web-title img {
  width: 35px;
  height: 35px;
  transition: 0.3s ease-in-out;
}
.web-title img:hover {
  transition: 0.3s ease-in-out;
  filter: brightness(130%);
}
.a-tags {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 2%;
}
.a-tags a {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  transition: 0.3s ease-in-out;
}
.a-tags a:hover {
  transition: 0.3s ease-in-out;
  color: #65636e;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* WEB FONTS*/
/* WEB COLORS */
/* MISC */
